.button {
  @include font-info(12px, 700, 14px);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.05em;
  background-color: transparent;
  border: 4px solid $white;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
}
