.contacts {
  background-color: $white;
  width: 50%;
  padding: 66px 0 26px 120px;
  box-sizing: border-box;

  ul {
    @include reset-list;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 26px 0 24px 5px;
    position: relative;

    &::after {
      @include pseudo;
      width: 1px;
      height: 102px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $grey-border;
    }

    @media (max-width: $tablet) {
      margin-left: 0;

      &::after {
        @include pseudo;
        height: 129px;
        top: 50%;
        left: 42%;
      }
    }

    @media (max-width: $mobile) {
      flex-direction: column;

      &::after {
        content: none;
      }
    }
  }

  .contacts__item {
    width: 170px;

    &--fourth {
      margin-left: auto;
    }

    @media (max-width: $tablet) {
      margin-bottom: 18px;
      padding-right: 90px;
      box-sizing: border-box;

      &--first,
      &--third {
        width: 49.5%;
      }

      &--second,
      &--fourth {
        width: 50.5%;
      }
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      width: 100%;
      padding-right: 0;

      &--first {
        order: 1;
      }

      &--second {
        order: 3;
      }

      &--third {
        order: 2;
      }

      &--fourth {
        order: 4;
      }
    }
  }

  h4 {
    margin-bottom: 7px;
    margin-top: 20px;

    @media (max-width: $tablet) {
      @include font-info(20px, 700, 30px);
      margin-top: 0;
    }
  }

  p {
    @include font-info(14px, 400, 21px);
    margin: 0;

    @media (max-width: $tablet) {
      @include font-info(18px, 400, 27px);
    }
  }

  a {
    @include font-info(14px, 400, 21px);
    color: $blue-text;

    @media (max-width: $tablet) {
      @include font-info(18px, 400, 27px);
    }
  }

  h2 {
    @include h2-font-info;

    @media (max-width: $tablet) {
      margin-bottom: 33px;
      margin-top: 68px;
      padding: 0;
    }

    @media (max-width: $mobile) {
      margin-bottom: 37px;
    }
  }

  @media (max-width: $tablet) {
    width: auto;
    padding: 0 17.3%;
    padding-bottom: 20px;
    padding-right: 0;
  }

  @media (max-width: $mobile) {
    @include container;
    width: 100%;
    margin-bottom: 20px;
  }
}
