footer {
  margin-top: auto;
  width: 100%;
  border-top: 1px solid $grey-border;
  background: linear-gradient(to right, $blue-text 50%, $white 50%);

  @media (max-width: $tablet) {
    background: transparent;
  }

  h2 {
    margin: 0;
    margin-bottom: 20px;

    @media (max-width: $tablet) {
      text-align: left;
      margin-top: 68px;
      padding-left: 17%;
    }

    @media (max-width: $mobile) {
      padding-left: 5%;
      margin-bottom: 5px;
    }
  }
}

.footer__wrapper {
  @include container;
  display: flex;

  @media (max-width: $tablet) {
    flex-direction: column;
    padding: 0;
  }
}
