.header {
  //background: conic-gradient(from 130.31deg at 16.03% 39.06%, $red-linear -46.69deg, $blue-linear 32.24deg, $red-linear 313.31deg, $blue-linear 392.24deg);
  background: url("../img/header-bg.svg");
  background-color: $red;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
}

.header__wrapper {
  @include container;
  padding-bottom: 47px;
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;

  a {
    @include font-info(26px, 700, 26px);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.03em;

    @media (max-width: $tablet) {
      @include font-info(24px, 400, 24px);
      letter-spacing: 0.02em;
    }

    @media (max-width: $mobile) {
      @include font-info(20px, 400, 20px);
    }
  }

  @media (max-width: $tablet) {
    padding-top: 40px;

    img {
      width: 82px;
      height: 17px;
    }
  }

  @media (max-width: $mobile) {
    padding-top: 20px;

    img {
      width: 68px;
      height: 15px;
    }
  }
}

.header__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__social-list {
  @include reset-list;
  align-self: flex-end;

  li {
    margin-bottom: 24px;
  }

  @media (max-width: $tablet) {
    display: none;
  }

  a {
    @include font-info(12px, 400, 14px);
  }
}

.header__main-wrapper {
  width: 82.6%;
  background-image: url("../img/banner-photo-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 499px 556px;
  min-height: 556px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/banner-photo-desktop@2x.png");
  }

  @media (max-width: $tablet) {
    background-image: url("../img/banner-photo-tablet@1x.png");
    background-size: 324px 390px;
    width: 100%;
    margin: 20px 0;
    margin-bottom: 80px;
    min-height: 390px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/banner-photo-tablet@2x.png");
    }
  }

  @media (max-width: $mobile) {
    background-image: none;
    margin-bottom: 40px;
  }
}

.header__description {
  width: 41.5%;
  margin-top: 107px;
  text-align: right;
  position: relative;

  h1 {
    @include font-info(109px, 700, 109px);
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    letter-spacing: 0.03em;
    text-shadow: 2px 0 0 $white;
    text-transform: uppercase;
    margin-left: auto;
    margin-bottom: 55px;


    @media (max-width: $tablet) {
      @include font-info(86px, 700, 86px);
      max-width: 300px;
      margin-bottom: 40px;
    }

    @media (max-width: $mobile) {
      @include font-info(78px, 700, 78px);
      margin-bottom: 45px;
    }
  }

  ul {
    @include reset-list;
    @include font-info(14px, 400, 21px);
    position: absolute;
    bottom: 132px;
    left: 19px;

    @media (max-width: $tablet) {
      bottom: 105px;
      left: 0;
    }
  }

  p {
    @include font-info(49px, 400, 58px);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 7px;

    @media (max-width: $tablet) {
      @include font-info(34px, 400, 41px);
      margin-bottom: 0;
    }

    @media (max-width: $mobile) {
      @include font-info(28px, 400, 34px);
      margin-bottom: 5px;
    }
  }

  a {
    padding: 21px 56px;

    @media (max-width: $tablet) {
      @include font-info(12px, 400, 14px);
      border: 4px solid $white;
      padding: 21px 28px;
    }

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  @media (max-width: $tablet) {
    width: 47.5%;
    margin-top: 50px;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}
