.reviews {
  @include container;
  margin-bottom: 123px;

  @media (max-width: $tablet) {
    margin-bottom: 100px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 70px;
  }

  h2 {
    text-align: center;
    margin-bottom: 50px;

    @media (max-width: $tablet) {
      margin-bottom: 42px;
    }
  }
}

.reviews__slider {
  width: 600px;
  color: $white;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  box-sizing: border-box;

  @media (max-width: $tablet) {
    width: 100%;
    padding: 0 8%;
  }

  @media (max-width: $mobile) {
    padding: 0 11%;
  }

  ul {
    @include reset-list;
    transition: margin-left 500ms;
  }

  .reviews-slider__item {
    display: none;
    padding: 56px 62px 40px 170px;
    position: relative;
    background-color: $blue;
    box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);

    @media (max-width: $tablet) {
      padding-right: 11.8%;
      padding-left: 30.5%;
    }

    @media (max-width: $mobile) {
      padding: 30px 12%;
      padding-bottom: 0;
      min-height: 304px;
    }
  }

  .reviews-slider__item.visible {
    display: block;
  }

  img {
    object-fit: contain;
    position: absolute;
    left: 60px;
    top: 42%;
    transform: translateY(-50%);

    @media (max-width: $tablet) {
      top: 43%;
      left: 12%;
    }

    @media (max-width: $mobile) {
      top: 75px;
      left: 17%;
      width: 68px;
      height: 69px;
    }
  }

  h4 {
    @include font-info(20px, 700, 30px);
    margin: 0;

    @media (max-width: $mobile) {
      @include font-info(20px, 700, 26px);
      max-width: 65px;
      margin-left: 55%;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }

  p {
    @include font-info(16px, 400, 22px);
    margin-top: 12px;

    @media (max-width: $mobile) {
      text-align: center;
    }
  }
}

.reviews-slider__control {
  background-color: $white;
  background-repeat: no-repeat;
  width: 18px;
  height: 34px;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &-prev {
    background-image: url("../img/arrow-right.svg");
    left: -6%;
  }

  &-next {
    background-image: url("../img/arrow-left.svg");
    right: -6%;
  }

  @media (max-width: $tablet) {
    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }
  }

  @media (max-width: $mobile) {
    background-color: transparent;

    &-prev {
      background-image: url("../img/arrow-right-mobile.svg");
    }

    &-next {
      background-image: url("../img/arrow-left-mobile.svg");
    }
  }
}
