.sale {
  @include container;
  margin-top: 135px;
  margin-bottom: 120px;

  h2 {
    text-align: center;
    margin-bottom: 50px;

    @media (max-width: $tablet) {
      margin-bottom: 42px;
    }
  }

  a {
    @include font-info(14px, 400, 16px);
    letter-spacing: 0.05em;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: auto;
  }

  @media (max-width: $tablet) {
    margin-top: 100px;
    margin-bottom: 70px;
  }

  @media (max-width: $mobile) {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.sale__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.sale__promo {
  width: 560px;
  min-height: 462px;
  background-color: $red;
  background-image: url("../img/sale-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 279px 462px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/sale-desktop@2x.png");
  }

  @media (max-width: $tablet) {
    width: 100%;
    background-image: url("../img/sale-tablet@1x.png");
    background-size: 399px 462px;
    margin-bottom: 30px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/sale-tablet@2x.png");
    }
  }

  @media (max-width: $mobile) {
    width: 100%;
    min-height: 598px;
    background-image: url("../img/sale-mobile@1x.png");
    background-position: bottom center;
    background-size: 290px 299px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/sale-mobile@2x.png");
    }
  }
}

.sale__promo-description {
  width: 280px;
  height: 100%;
  padding: 45px;
  padding-top: 35px;
  box-sizing: border-box;
  text-align: left;
  color: $white;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet) {
    width: 42%;
    min-height: 462px;
    padding: 35px 6.5% 45px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    text-align: center;
    padding: 35px 15% 45px;
  }

  h4 {
    @include font-info(28px, 700, 44px);
    margin: 0;
  }

  b {
    @include font-info(70px, 700, 60px);
    margin: 0;
  }

  p {
    @include font-info(18px, 400, 25px);
    margin-top: 22px;

    @media (max-width: $mobile) {
      margin-top: 17px;
      margin-bottom: 33px;
    }
  }

  a {
    color: $white;

    @media (max-width: $mobile) {
      margin-top: 0;
    }
  }
}


.sale__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
  margin: 0;
  color: $blue;
  flex-wrap: wrap;
  box-sizing: border-box;

  @media (max-width: $tablet) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.sale__item {
  border: 7px solid $blue-linear;
  border-image-source: linear-gradient(148.82deg, $red-gradient 0.85%, $blue-gradient 100%);
  border-image-slice: 1;
  padding: 17px 25px 28px 27px;
  box-sizing: border-box;
  min-height: 211px;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet) {
    width: calc(50% - 15px);
    margin-bottom: 30px;
    padding-left: 4%;
    padding-right: 6%;

    &--first {
      padding-right: 7%;
    }
  }

  @media (max-width: $mobile) {
    width: 100%;
    text-align: center;
    padding: 27px 14% 40px;
  }

  h4 {
    @include font-info(26px, 700, 44px);
    margin: 0;
  }

  p {
    @include font-info(16px, 400, 22px);
    margin: 0;
  }

  a {
    @include font-info(12px, 400, 14px);
    letter-spacing: 0.05em;
    color: $blue;
  }
}
