.sale {
  @include container;
  margin-top: 118px;
  margin-bottom: 120px;

  h2 {
    @include h2-font-info;
    text-align: center;
    margin-bottom: 52px;

    @media (max-width: $tablet) {
      margin-bottom: 40px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 42px;
    }
  }

  a {
    @include font-info(14px, 400, 16px);
    letter-spacing: 0.05em;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: auto;
  }

  @media (max-width: $tablet) {
    margin-top: 97px;
    margin-bottom: 70px;
  }

  @media (max-width: $mobile) {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.sale__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.sale__promo {
  width: 560px;
  background-color: $red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablet) {
    width: 100%;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.sale__image-container {
  @media (max-width: $tablet) {
    width: 59%;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }

  img {
    object-fit: cover;
    height: 100%;

    @media (max-width: $tablet) {
      width: 100%;
      height: 462px;
      object-position: top;
    }

    @media (max-width: $mobile) {
      width: 100%;
      height: 299px;
    }
  }
}

.sale__promo-description {
  width: 280px;
  height: 100%;
  padding: 45px;
  padding-top: 35px;
  box-sizing: border-box;
  text-align: left;
  color: $white;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet) {
    width: 41%;
    min-height: 462px;
    padding: 35px 6.5% 45px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    min-height: 299px;
    text-align: center;
    padding: 35px 15% 45px;
  }

  h4 {
    @include font-info(28px, 700, 44px);
    margin: 0;
  }

  b {
    @include font-info(70px, 700, 60px);
    margin: 0;
  }

  p {
    @include font-info(18px, 400, 25px);
    margin-top: 22px;

    @media (max-width: $mobile) {
      margin-top: 17px;
      margin-bottom: 33px;
    }
  }

  a {
    color: $white;
    width: fit-content;

    @media (max-width: $mobile) {
      margin: 0 auto;
    }
  }
}

.sale__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  width: 560px;
  margin: 0;
  color: $blue;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-bottom: -40px;
  overflow: hidden;

  @media (max-width: $tablet) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.sale__item {
  border: 7px solid $blue-linear;
  border-image-source: linear-gradient(148.82deg, $red-gradient 0.85%, $blue-gradient 100%);
  border-image-slice: 1;
  padding: 16px 25px 28px 27px;
  box-sizing: border-box;
  min-height: 211px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @media (max-width: $tablet) {
    width: calc(50% - 15px);
    margin-bottom: 30px;
    padding: 15px 6% 28px 4%;

    &--first {
      padding-right: 7%;
    }
  }

  @media (max-width: $mobile) {
    width: 100%;
    text-align: center;
    padding: 26px 14% 40px;
  }

  h4 {
    @include font-info(26px, 700, 46px);
    margin: 0;
  }

  p {
    @include font-info(16px, 400, 22px);
    margin: 0;
    margin-bottom: 26px;
  }

  a {
    @include font-info(12px, 400, 14px);
    letter-spacing: 0.05em;
    color: $blue;
    width: fit-content;

    @media (max-width: $mobile) {
      margin: 0 auto;
    }
  }
}
