.social-list {
  @include reset-list;
  display: flex;
  align-items: center;

  @media (max-width: $tablet) {
    margin-right: -20px;
    overflow: hidden;
  }

  @media (max-width: $mobile) {
    margin-top: 0;
    margin-bottom: 40px;
  }

  li {
    margin-left: 25px;

    @media (max-width: $tablet) {
      margin-right: 20px;
      margin-left: 0;
    }

    @media (max-width: $mobile) {
      margin-right: 35px;
    }
  }
}

.social-list__icon {
  @media (max-width: $mobile) {
    width: 27px;
    height: 27px;
  }
}
