.social-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  max-width: 150px;

  @media (max-width: $tablet) {
    margin-right: -20px;
    overflow: hidden;
  }

  @media (max-width: $mobile) {
    margin-top: 0;
    margin-bottom: 46px;
    margin-right: 0;
    max-width: 250px;
  }

  li {
    margin-left: 25px;
    margin-bottom: 7px;

    @media (max-width: $tablet) {
      margin-right: 20px;
      margin-left: 0;
    }

    @media (max-width: $mobile) {
      margin-right: 35px;
    }
  }
}

.social-list__icon {
  @media (max-width: $mobile) {
    &--vk {
      width: 32px;
      height: 17px;
    }

    &--ig {
      width: 27px;
      height: 27px;
    }

    &--fb {
      width: 14px;
      height: 27px;
    }
  }
}
