.tabs {
  margin-top: 200px;
  background: url("../img/plates@1x.png"), linear-gradient(180deg, $light-grey 93%, $white 93%);
  background-repeat: no-repeat;
  background-position: bottom right, center;
  background-size: 221px 374px, auto;
  overflow: hidden;

  @media (max-width: $mobile) {
    margin-top: 100px;
    background: linear-gradient(180deg, $light-grey 93%, $white 93%);
  }

  ul {
    @include reset-list;
  }

  h2 {
    padding-top: 50px;
  }
}

.tabs__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 150px;

  @media (max-width: $tablet) {
    padding-bottom: 150px;
  }
}

.tabs__header {
  width: auto;
  display: flex;
  border-bottom: 2px solid $grey-border;
  margin-bottom: 50px;
  margin-right: -40px;
  overflow: hidden;

  li {
    @include font-info (20px, 400, 30px);
    color: $darkgrey;
    margin-right: 40px;
    padding-bottom: 20px;
    cursor: pointer;

    &.active {
      color: $blue-text;
      border-bottom: 2px solid $red;
    }

    @media (max-width: $tablet) {
      @include font-info (20px, 400, 30px);
    }

    @media (max-width: $mobile) {
      @include font-info (16px, 400, 24px);
    }
  }
}

.tabs__content {
  display: flex;

  @media (max-width: $mobile) {
    width: 100%;
  }
}
