.tabs {
  margin-top: 230px;
  margin-bottom: 45px;
  background: url("../img/plates-desktop@1x.png"), linear-gradient(180deg, $light-grey 93%, $white 93%);
  background-repeat: no-repeat;
  background-position: right 510px, center;
  background-size: 295px 494px, auto;
  overflow: hidden;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/plates-desktop@2x.png"), linear-gradient(180deg, $light-grey 93%, $white 93%);
  }

  @media (max-width: $tablet) {
    margin-top: 65px;
    background: url("../img/plates-tablet@1x.png"), linear-gradient(180deg, $light-grey 97%, $white 97%);
    background-repeat: no-repeat;
    background-size: 350px 445px, auto;
    background-position: right 1455px, center;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/plates-tablet@2x.png"), linear-gradient(180deg, $light-grey 97%, $white 97%);
    }
  }

  @media (max-width: $mobile) {
    margin-top: 70px;
    margin-bottom: 80px;
    background: $light-grey;
  }

  ul {
    @include reset-list;
  }

  h2 {
    padding-top: 80px;
    margin-bottom: 20px;

    @media (max-width: $tablet) {
      margin-top: 19px;
      margin-bottom: 13px;
    }

    @media (max-width: $mobile) {
      margin-top: 0;
      margin-bottom: 7px;
      padding-top: 70px;
    }
  }
}

.tabs__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 180px;

  @media (max-width: $tablet) {
    padding-bottom: 100px;
  }

  @media (max-width: $mobile) {
    padding-bottom: 10px;
  }
}

.tabs__header {
  display: flex;
  border-bottom: 2px solid $grey-border;
  margin-bottom: 20px;
  margin-right: -45px;
  overflow: hidden;

  @media (max-width: $tablet) {
    margin-right: -54px;
    margin-bottom: 25px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 18px;
    margin-right: -45px;
  }

  li {
    @include font-info (20px, 400, 30px);
    color: $darkgrey;
    margin-right: 45px;
    padding-bottom: 10px;
    cursor: pointer;

    &.active {
      color: $blue-text;
      border-bottom: 2px solid $red;
      outline: none;
    }

    @media (max-width: $tablet) {
      @include font-info (18px, 400, 27px);
      margin-right: 54px;
    }

    @media (max-width: $mobile) {
      @include font-info (16px, 400, 24px);
      margin-right: 45px;
    }
  }
}

.tabs__content {
  display: flex;

  @media (max-width: $mobile) {
    width: 100%;
  }
}
