.trainers {
  margin-top: 117px;

  h2 {
    @include container;
    @include h2-font-info;
    margin-bottom: 50px;

    @media (max-width: $tablet) {
      margin: 20px 0;
      margin-bottom: 40px;
      text-align: center;
    }

    @media (max-width: $mobile) {
      margin-bottom: 43px;
    }
  }

  @media (max-width: $tablet) {
    @include container;
    margin-top: 100px;
  }

  @media (max-width: $mobile) {
    margin-top: 68px;
  }
}

.trainers-slider {
  margin: 0 auto;
  position: relative;
  min-width: 1200px;
  max-width: 1270px;

  @media (max-width: $tablet) {
    min-width: 676px;
    width: 676px;
  }

  @media (max-width: $mobile) {
    min-width: 290px;
    width: 290px;
  }
}


.trainers-slider__container {
  width: 1160px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;

  @media (max-width: $tablet) {
    width: 566px;
  }

  @media (max-width: $mobile) {
    width: 226px;
  }
}

.trainers-slider__wrapper {
  display: flex;
}

.trainers-slider__control {
  background-color: $white;
  background-repeat: no-repeat;
  width: 18px;
  height: 34px;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }

  &--prev {
    background-image: url("../img/arrow-right.svg");
    left: 0;
  }

  &--next {
    background-image: url("../img/arrow-left.svg");
    right: 0;
  }

  @media (max-width: $mobile) {
    width: 10px;
    height: 20px;

    &--prev {
      background-image: url("../img/arrow-right-mobile.svg");
    }

    &--next {
      background-image: url("../img/arrow-left-mobile.svg");
    }
  }
}

.trainers-slider__item {
  margin-right: 40px;
  position: relative;
  min-width: 260px;
  display: inline-block;
  vertical-align: middle;

  img {
    object-fit: cover;
    min-height: 294px;

    @media (max-width: $mobile) {
      min-height: 274px;
    }
  }

  p {
    @include font-info(18px, 700, 27px);
    color: $white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
  }

  &:hover,
  &:focus {
    .trainers-slider__info {
      opacity: 1;
    }

    p {
      opacity: 0;
    }
  }

  @media (max-width: $tablet) {
    min-width: 268px;
    margin-right: 30px;
  }

  @media (max-width: $mobile) {
    min-width: 226px;
    margin-right: 0;
  }
}

.trainers-slider__info {
  position: absolute;
  left: 0;
  bottom: 0;
  vertical-align: middle;
  text-align: center;
  background-color: $blue-hover;
  color: $white;
  width: 100%;
  height: 100%;
  padding: 30px 50px;
  box-sizing: border-box;
  opacity: 0;

  ul {
    @include font-info(14px, 400, 21px);
    list-style: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: left;
  }

  li {
    margin-bottom: 13px;
  }

  h4 {
    @include font-info(18px, 700, 27px);
    margin-bottom: 0;
  }

  span {
    @include font-info(16px, 400, 24px);
    color: $lightgrey-text;
  }

  @media (max-width: $mobile) {
    padding: 20px 30px;
  }
}
