.trainers {
  margin-top: 115px;
  overflow: hidden;

  h2 {
    @include container;
    margin-bottom: 35px;

    @media (max-width: $tablet) {
      margin: 20px 0;
      text-align: center;
    }
  }

  @media (max-width: $tablet) {
    @include container;
    margin-top: 80px;
  }

  @media (max-width: $mobile) {
    margin-top: 46px;
  }
}

.trainers-slider {
  @include container;
  display: flex;
  position: relative;

  ul {
    @include reset-list;
    display: flex;
    margin-right: -40px;
    overflow: hidden;
    transition: margin-left 500ms;

    @media (max-width: $tablet) {
      margin-right: -30px;
      margin-top: 20px;
    }

    @media (max-width: $mobile) {
      margin-top: 23px;
    }
  }

  .trainers-slider__control {
    background-color: $white;
    background-repeat: no-repeat;
    width: 18px;
    height: 34px;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &-prev {
      background-image: url("../img/arrow-right.svg");
      left: -5%;
    }

    &-next {
      background-image: url("../img/arrow-left.svg");
      right: -5%;
    }

    @media (max-width: $tablet) {
      &-prev {
        left: 0;
      }

      &-next {
        right: 0;
      }
    }

    @media (max-width: $mobile) {
      width: 10px;
      height: 20px;

      &-prev {
        background-image: url("../img/arrow-right-mobile.svg");
      }

      &-next {
        background-image: url("../img/arrow-left-mobile.svg");
      }
    }
  }

  .trainers-slider__item {
    margin-right: 40px;
    position: relative;
    min-width: 260px;
    display: inline-block;

    img {
      object-fit: cover;
      min-height: 294px;

      @media (max-width: $mobile) {
        min-height: 274px;
      }
    }

    p {
      @include font-info(18px, 700, 27px);
      color: $white;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      text-align: center;
    }

    &:hover,
    &:focus {
      .trainers-slider__info {
        opacity: 1;
      }

      p {
        opacity: 0;
      }
    }

    @media (max-width: $tablet) {
      min-width: 268px;
      margin-right: 30px;
    }

    @media (max-width: $mobile) {
      min-width: 226px;
    }
  }
}

.trainers-slider__container {
  width: 1160px;
  overflow: hidden;
  margin: 0 auto;

  @media (max-width: $tablet) {
    width: 566px;
  }

  @media (max-width: $mobile) {
    width: 226px;
  }
}

.trainers-slider__info {
  position: absolute;
  left: 0;
  bottom: 0;
  vertical-align: middle;
  text-align: center;
  background-color: $blue-hover;
  color: $white;
  width: 100%;
  height: 100%;
  padding: 30px 50px;
  box-sizing: border-box;
  opacity: 0;

  ul {
    @include font-info(14px, 400, 21px);
    list-style: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: left;
  }

  li {
    margin-bottom: 13px;
  }

  h4 {
    @include font-info(18px, 700, 27px);
    margin-bottom: 0;
  }

  span {
    @include font-info(16px, 400, 24px);
    color: $lightgrey-text;
  }

  @media (max-width: $mobile) {
    padding: 20px 30px;
  }
}
