.workout {
  background-color: $blue-text;
  color: $white;
  width: 50%;
  padding: 66px 170px 70px 0;
  box-sizing: border-box;

  @media (max-width: $tablet) {
    width: 100%;
    padding: 0;
  }

  form {
    width: 100%;
    margin-top: 39px;

    @media (max-width: $tablet) {
      width: 472px;
      margin-top: 30px;
      margin-left: 17%;
      margin-bottom: 70px;
    }

    @media (max-width: $mobile) {
      padding: 0 4%;
      margin: 0;
      width: auto;
      max-width: 472px;
      margin-bottom: 67px;
    }
  }

  .workout__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  input {
    @include font-info(14px, 400, 16px);
    width: 190px;
    box-sizing: border-box;
    background-color: $blue-text;
    border: none;
    border-bottom: 1px solid $grey-border;
    border-radius: 0;
    outline: none;
    color: $white;
    padding: 8px 2px;

    &:focus,
    &:hover {
      opacity: 0.7;
    }

    @media (max-width: $tablet) {
      width: calc(50% - 30px);
    }

    @media (max-width: $mobile) {
      width: 100%;
      padding: 37px 2px 5px;
    }
  }

  input::placeholder {
    @include font-info(14px, 400, 16px);
    color: $white;
  }

  button {
    @include font-info(14px, 700, 16px);
    color: $white;
    width: 100%;
    padding: 16px 30px;
    border: 3px solid $white;
    margin-top: 26px;

    @media (max-width: $mobile) {
      margin-top: 40px;
    }
  }
}
