body {
  min-width: 320px;
  font-family: "Roboto Condensed", "Bebas Neue", "Arial", serif;
  color: $blue-text;
  background-color: $white;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: left;
}

a {
  text-decoration: none;
  color: $white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  @include font-title;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.03em;
}
