body {
  min-width: 320px;
  font-family: "Bebas Neue", "Roboto Condensed", "Arial", sans-serif;
  color: black;
  background-color: white;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: left;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
