$white: #ffffff;
$blue-linear: #003d85;
$red-linear: #b80027;
$blue-text: #102654;
$lightblue-text: #8893aa;
$grey-text: #495a7d;
$blue-number: #103aae;
$light-grey: #f8f9fc;
$red: #ed0233;
$blue-button-gradient: #003eb7;
$blue: #1c3374;
$blue-background: rgba(20, 54, 122, 0.5);
$lightred: hsla(343, 91, 43, 20%);
$darkgrey: rgba(16, 38, 84, 0.5);
$grey-border: rgba(120, 120, 120, 0.2);
$darkblue: #030a1a;
$tablet: 1199px;
$mobile: 767px;
$retina-dppx: 2dppx;
